name: Bump package versions
on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: write

jobs:
  bump-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
      - name: bump version
        run: |
          yarn bump
      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          if git status --porcelain; then
            git add .
            git commit -m "chore: update generated files"
            git push origin HEAD:${{ github.head_ref }}
          else
            echo "No changes to commit"
          fi
