name: test

on:
  workflow_call:
  workflow_dispatch:
  pull_request:

jobs:
  test-repo:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:8.2.1
        ports:
          - 6379:6379
        options: >-
          --health-cmd="redis-cli ping || exit 1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10
      postgres:
        image: postgres:16.2
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: testdb
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpassword
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: dbpassword
          MYSQL_DATABASE: practice_db_1
          MYSQL_USER: dbadmin
          MYSQL_PASSWORD: dbpassword

      memcache:
        image: memcached:latest
        ports:
          - 11211:11211
    env:
      DATABASE_URL: postgres://testuser:testpassword@localhost:5432/testdb
      DB_HOST: localhost
      DB_PORT: 5432
      DB_USER: testuser
      DB_PASSWORD: testpassword
      DB_NAME: testdb
      NODE_ENV: test
      REDIS_HOST: localhost
      MEMCACHE_HOST: localhost
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: node_modules-${{ hashFiles('**/yarn.lock') }}
      - run: yarn
      - run: yarn build:all
      - name: run tests
        run: |
          ls -alt /tmp
          yarn workspaces run test
